
a:link {
  color: darkblue;
  text-decoration: underline;
}

a:hover {
  color: rgb(31, 175, 252);
}

a:visited {
  color: rgb(196, 9, 96);
}

a:active {
  color: rgb(232, 41, 130);
}

/* Always set the map height explicitly to define the size of the div  element that contains the map. */
       #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: "Balsamiq Sans";
      }

      #logo {
        height: 8rem;
        margin: -4rem;
      }